<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted" data-test="character-name">{{character.name}}</h6>

    <div class="row">
      <div class="col-sm-2" data-test="gender-label">Gender:</div>
      <div class="col-sm-10" data-test="gender-value">
        {{character.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-test="birthyear-label">Birth year:</div>
      <div class="col-sm-10" data-test="birthyear-value">
        {{character.birth_year}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-test="eyecolor-label">Eye color:</div>
      <div class="col-sm-10" data-test="eyecolor-value">
        {{character.eye_color}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-test="skincolor-label">Skin color:</div>
      <div class="col-sm-10" data-test="skincolor-value">
        {{character.skin_color}}
      </div>
    </div>
  </div>
</div>
