<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted" data-test="planet-name">{{planet.name}}</h6>

    <div class="row">
      <div class="col-sm-2" data-test="population-label">Population:</div>
      <div class="col-sm-10" data-test="population-value">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-test="climate-label">Climate:</div>
      <div class="col-sm-10" data-test="climate-value">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-test="gravity-label">Gravity:</div>
      <div class="col-sm-10" data-test="gravity-value">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
